@charset "utf-8";
/* CSS Document */
/* ============================ 重置css样式 ============================ */	
/* 清除内外边距 */
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,fieldset,legend,button,input,textarea,th,td{
	margin:0;
	padding:0;
}
/* 设置默认字体 */
body,button,input,select,textarea{font:12px/1 "Microsoft Yahei",Verdana,Geneva,sans-serif;}
h1{font-size:18px;}
h2{font-size:16px;}
h3{font-size:14px;}
h4,h5,h6{font-size:100%;}
h1,h2,h3,h4,h5,cite,em,i{font-style:normal;}
/* 重置列表元素 */
ul,ol{list-style:none;}
/* 重置文本格式元素 */
a{
	text-decoration:none;
	cursor:pointer;
	outline:none;
}
/* 重置表单元素 */
legend{color:#000;}
fieldset,img{border:none;}
img{vertical-align:middle;}
/* 重置表格元素 */
table{
	border-collapse:collapse;
	border-spacing:0;
}
button,input,select,textarea{font-size:100%;}
input{outline:none} 
/* ========================= 页面常用样式 CSS样式 =========================== */	
/*清除浮动*/
.clearfix:after{
	display:block;
	clear:both;
	height:0;
	visibility:hidden;
	content:" ";
}
/*字体样式*/
html{overflow-x:hidden;}
/*左右浮动*/
.fl{float:left;}
.fr{float:right;}
