<html>

<head>
    <title>
        左边操作菜单
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf8">
    <script type="text/javascript" src="../static/jquery-1.9.1.min.js">
    </script>
    <style type="text/css">
        #Content-Left{
            height:400px;
            width:200px;
            margin:20px;/*设置元素跟其他元素的距离为20像素*/
            float:left;/*设置浮动，实现多列效果，div+Css布局中很重要的*/

        }
        #Content-Main{
            height:400px;
            width:720px;
            margin:20px;/*设置元素跟其他元素的距离为20像素*/
            float:left;/*设置浮动，实现多列效果，div+Css布局中很重要的*/

        }

    </style>
</head>

<body>

<div id="Content">
    <div id="Content-Left">
        <table border="0">
            <tr>
                <td>
                    <table border="0">
                        <tr>
                            <td id="mysql_source" style="cursor: hand" onClick="show_mysql()">
                                mysql源
                            </td>
                        </tr>
                    </table>
                    <div id="mysql_source_info" class="mysql_source" style="display: none">
                        <table border="0">
                            <tr >
                                <td >
                                    <input class="mysql_source_list" type="button" value="oracle目的地" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input class="mysql_source_list" type="button" value="mysql目的地" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input class="mysql_source_list" type="button" value="sqlserver目的地" />
                                </td>
                            </tr>
                        </table>
                    </div>
            <tr>
                <td>
                    <table border="0">
                        <tr>
                            <td id="file_source" style="cursor: hand" onClick="show_file()">
                                文件源
                            </td>
                        </tr>
                    </table>
                    <div id="file_source_info" style="display: none">
                        <table border="0">
                            <tr>
                                <td class="file_to_mysql">
                                    <input class="file_source_list" type="button" value="oracle目的地" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input class="file_source_list" type="button" value="mysql目的地" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input class="file_source_list" type="button" value="sqlserver目的地" />
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </table>


    </div>
    <div id="Content-Main">
        <div class="mysql_source">

            <form id="mysql_to_oracle" class="form_data" style="display: none">
                <fieldset>
                    <legend>
                        oracle写入的配置信息
                    </legend>
                    写的数据库连接地址:
                    <input type="text" name="write_conn_host" value="">
                    <br>
                    写的数据库端口:
                    <input type="text" name="write_conn_host_port" value="">
                    <br>
                    写的数据库名字:
                    <input type="text" name="write_conn_host_db_name" value="">
                    <br>
                    写的数据库表名字:
                    <input type="text" name="write_conn_host_db_table" value="">
                    <br>
                    写的数据库表账号:
                    <input type="text" name="write_conn_host_db_user" value="">
                    <br>
                    写的数据库表密码:
                    <input type="password" name="write_conn_host_db_passwd" value="">
                    <br>
                    写的数据库表操作类型:
                    <input list="do_type_mysql_to_oracle" name="do_type_name">
                    <datalist id="do_type_mysql_to_oracle">
                        <option value="insert">
                        <option value="update">
                    </datalist>
                    <br>
                    写的数据库的sql模式:
                    <input list="sql_type_do_type_mysql_to_oracle" name="sql_type_name">
                    <datalist id="sql_type_do_type_mysql_to_oracle">
                        <option value="ANSI">
                        </option>
                    </datalist>
                    <br>
                </fieldset>
                <fieldset>
                    <legend>
                        mysql读的配置信息
                    </legend>
                    读数据库连接地址:
                    <input type="text" name="read_conn_host" value="">
                    <br>
                    读数据库端口:
                    <input type="text" name="read_conn_host_port" value="">
                    <br>
                    读数据库名字:
                    <input type="text" name="read_conn_host_db_name" value="">
                    <br>
                    读数据库表名字:
                    <input type="text" name="read_conn_host_db_table" value="">
                    <br>
                    读数据库表账号:
                    <input type="text" name="read_conn_host_db_user" value="">
                    <br>
                    读数据库表密码:
                    <input type="password" name="read_conn_host_db_passwd" value="">
                    <br>
                </fieldset>
                <fieldset>
                    <legend>
                        表字段信息
                    </legend>
                    <table id="table_info_mysql_to_oracle" name="table_info_value">
                        <tr>
                            <td>
                                字段名字
                            </td>
                            <td>
                                字段类型
                            </td>
                        </tr>
                    </table>
                    <input id="add_mysql_to_oracle" type="button" value="增加">
                    <input id="cut_mysql_to_oracle" type="button" value="减少">
                </fieldset>
                <fieldset>
                    <legend>
                        公共配置
                    </legend>
                    并发数:
                    <select id="channel_mysql_to_oracle" name="channel">
                        <option value="1">
                            1
                        </option>
                        <option value="2">
                            2
                        </option>
                        <option value="3">
                            3
                        </option>
                        <option value="4">
                            4
                        </option>
                        <option value="5">
                            5
                        </option>
                        <option value="6">
                            6
                        </option>
                        <option value="7">
                            7
                        </option>
                        <option value="8">
                            8
                        </option>
                        <option value="9">
                            9
                        </option>
                        <option value="10">
                            10
                        </option>
                        <option value="11">
                            11
                        </option>
                        <option value="12">
                            12
                        </option>
                        <option value="14">
                            14
                        </option>
                        <option value="14">
                            14
                        </option>
                        <option value="16">
                            15
                        </option>
                        <option value="16">
                            16
                        </option>
                        <option value="17">
                            17
                        </option>
                        <option value="18">
                            18
                        </option>
                        <option value="19">
                            19
                        </option>
                        <option value="20">
                            20
                        </option>
                    </select>
                </fieldset>
                <input id="submit_mysql_to_oracle" type="button" value="submit">
            </form>


            <form id="mysql_to_mysql" class="form_data" style="display: none">
                <fieldset>
                    <legend>
                        mysql写入的配置信息
                    </legend>
                    写的数据库连接地址:
                    <input type="text" name="write_conn_host" value="">
                    <br>
                    写的数据库端口:
                    <input type="text" name="write_conn_host_port" value="">
                    <br>
                    写的数据库名字:
                    <input type="text" name="write_conn_host_db_name" value="">
                    <br>
                    写的数据库表名字:
                    <input type="text" name="write_conn_host_db_table" value="">
                    <br>
                    写的数据库表账号:
                    <input type="text" name="write_conn_host_db_user" value="">
                    <br>
                    写的数据库表密码:
                    <input type="password" name="write_conn_host_db_passwd" value="">
                    <br>
                    写的数据库表操作类型:
                    <input list="do_type_mysql_to_mysql" name="do_type_name">
                    <datalist id="do_type_mysql_to_mysql">
                        <option value="insert">
                        <option value="update">
                    </datalist>
                    <br>
                    写的数据库的sql模式:
                    <input list="sql_type_mysql_to_mysql" name="sql_type_name">
                    <datalist id="sql_type_mysql_to_mysql">
                        <option value="ANSI">
                        </option>
                    </datalist>
                    <br>
                </fieldset>
                <fieldset>
                    <legend>
                        mysql读的配置信息
                    </legend>
                    读数据库连接地址:
                    <input type="text" name="read_conn_host" value="">
                    <br>
                    读数据库端口:
                    <input type="text" name="read_conn_host_port" value="">
                    <br>
                    读数据库名字:
                    <input type="text" name="read_conn_host_db_name" value="">
                    <br>
                    读数据库表名字:
                    <input type="text" name="read_conn_host_db_table" value="">
                    <br>
                    读数据库表账号:
                    <input type="text" name="read_conn_host_db_user" value="">
                    <br>
                    读数据库表密码:
                    <input type="password" name="read_conn_host_db_passwd" value="">
                    <br>
                </fieldset>
                <fieldset>
                    <legend>
                        表字段信息
                    </legend>
                    <table id="table_info_mysql_to_mysql" name="table_info_value">
                        <tr>
                            <td>
                                字段名字
                            </td>
                            <td>
                                字段类型
                            </td>
                        </tr>
                    </table>
                    <input id="add_mysql_to_mysql" type="button" value="增加">
                    <input id="cut_mysql_to_mysql" type="button" value="减少">
                </fieldset>
                <fieldset>
                    <legend>
                        公共配置
                    </legend>
                    并发数:
                    <select id="channel" name="channel">
                        <option value="1">
                            1
                        </option>
                        <option value="2">
                            2
                        </option>
                        <option value="3">
                            3
                        </option>
                        <option value="4">
                            4
                        </option>
                        <option value="5">
                            5
                        </option>
                        <option value="6">
                            6
                        </option>
                        <option value="7">
                            7
                        </option>
                        <option value="8">
                            8
                        </option>
                        <option value="9">
                            9
                        </option>
                        <option value="10">
                            10
                        </option>
                        <option value="11">
                            11
                        </option>
                        <option value="12">
                            12
                        </option>
                        <option value="14">
                            14
                        </option>
                        <option value="14">
                            14
                        </option>
                        <option value="16">
                            15
                        </option>
                        <option value="16">
                            16
                        </option>
                        <option value="17">
                            17
                        </option>
                        <option value="18">
                            18
                        </option>
                        <option value="19">
                            19
                        </option>
                        <option value="20">
                            20
                        </option>
                    </select>
                </fieldset>
                <input id="submit_mysql_to_mysql" type="button" value="submit">
            </form>
            <form id="mysql_to_sqlserver" class="form_data" style="display: none"></form>




        </div>
    </div>
    <div class="file_source">
        <form id="file_to_oracle" class="form_data" style="display: none"></form>
        <form id="file_to_mysql" class="form_data" style="display: none"></form>
        <form id="file_to_sqlserver" class="form_data" style="display: none"></form>

    </div>

</div>

<script type="text/javascript">
    $(function(){
        $("#add_mysql_to_mysql").click(function() {

            $("#table_info_mysql_to_mysql").append
            ("<tr><td> <input type='text' name='column' value=''> </td><td>" + " <select name='column_type' id='select_k1' class='xla_k'> <option value='类型'>选择类型</option> <option value='类型1'>string</option> <option value='类型2'>long</option></select></tr>");
        });
        $("#cut_mysql_to_mysql").click(function() {
            var value = $("table tr").length;
            if (value != 2) {
                $("table tr:last-child").remove();
            }
        });


        $("#add_mysql_to_oracle").click(function() {

            $("#table_info_mysql_to_oracle").append
            ("<tr><td> <input type='text' name='column' value=''> </td><td>" + " <select name='column_type' id='select_k1' class='xla_k'> <option value='类型'>选择类型</option> <option value='类型1'>string</option> <option value='类型2'>long</option></select></tr>");
        });
        $("#cut_mysql_to_oracle").click(function() {
            var value = $("table tr").length;
            if (value != 2) {
                $("table tr:last-child").remove();
            }
        });
        /*
         $(".mysql_to_mysql").click(function() {
         if ($("#mysql_to_mysql_div").css('display') == "none"){
         $("#mysql_to_mysql_div").show();}
         else{
         $("#mysql_to_mysql_div").hide();
         }

         });
         */
        $(".mysql_source_list").click(function () {
            $('.Content-Main').hide();
            var index = $(".mysql_source input").index(this);
            $(this).addClass("current").siblings().removeClass("current");
            $(".form_data").eq(index).show().siblings(".form_data").hide()

        });


        $('#submit_mysql_to_mysql').click(function() {

            var params = $('#mysql_to_mysql').serialize();

            $.ajax({
                url: '/mysql_to_mysql',
                type: 'post',
                dataType: 'json',
                data: params,
                success: function(res) {
                    //返回一段提示    某个字段不规范
                    alert('某个字段不规范');
                },
                error: function() {

                }
            })
        });
        $('#submit_mysql_to_oracle').click(function() {

            var params = $('#mysql_to_oracle').serialize();

            $.ajax({
                url: '/mysql_to_oracle',
                type: 'post',
                dataType: 'json',
                data: params,
                success: function(res) {
                    //返回一段提示    某个字段不规范
                    alert('某个字段不规范');
                },
                error: function() {

                }
            })
        });

    });

    function show_mysql() {
        var id = document.getElementById("mysql_source");
        var sub = document.getElementById("mysql_source_info");
        if (sub.style.display == "none") {
            sub.style.display = "inline";
        } else {
            sub.style.display = "none";
        }
    }
    function show_file() {
        var id = document.getElementById("file_source");
        var sub = document.getElementById("file_source_info");
        if (sub.style.display == "none") {
            sub.style.display = "inline";
        } else {
            sub.style.display = "none";
        }
    }
</script>
</body>

</html>